



  
<div class="row">
  <div class="col-sm-1">
    
       <%= link_to gravatar_for(review.chef, size: 70), chef_path(review.chef) %>
    
  </div><!-- /col-sm-1 -->

  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
     <%= review.title %> <strong> by: <%= review.chef.chefname %> </strong><span class="text-muted"><%= time_ago_in_words(review.created_at) %> ago</span>
      </div>
      <div class="panel-body">
        <%=  review.review  %>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
</div>


